<%= form_for(@genre, url: admin_genre_path(@genre),method: :patch) do |f| %>
<h2>ジャンル編集</h2>
	<b>ジャンル</b>
			    <%= f.text_field :name, id:"inputtext" %>
			    <%= f.select :is_active, Genre.is_actives.keys, class:"form-control" %>
			    <%= f.submit "変更を保存する" %>

<% end %>
