<div class="container">
	<h2>商品詳細</h2>
		<div class="row">
			<div class="col-md-3 col-sm-3 col-xs-12">
					<%= attachment_image_tag @item, :image , :fill,200 ,200  %>
		    </div>
		    	<div class="col-md-6 col-sm-6 col-xs-12">
								<h3><%= @item.name %><br></h3>
								<%= @item.introduction %>
								<h3>¥<%= @item.price %></h3>(税込)<br>
								個数選択　カートに入れる
				</div>
		</div>
</div>